@media(max-width: 799px){
	/*.fadein { 
	
	height:auto; 
	width:799px; 

    }
    .wrapper{
      
    width: 799px; }


 .container{
         width: 100%;
         /*min-height:600px;*/    
       
   /* }*/
.logo
.header.title_head>h1{
	                   
          color: #fff;
          font-size: 15px;
                   
        
}
}