
$brand-color:#00F9C1;
$head-color:#2FBA9B;
$main-color:#00A27D;
$activ-color:#71FCDD;
$easy-color:#3FFCD2;
$brend-font-family: 'Cuprum', sans-serif;
$light-main-color:rgba(25, 146, 209, 0.3);
$dark-main-color:rgb(0, 51, 153);
$brend-font-family: 'Cuprum', sans-serif;
$button-color:#ff6a00;
$easy-button-color:#FFAD73;
$grey-color:#32373e;